<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
  
  <test name="Register Test">
    <classes>
      <class name="com.catalyst.springboot.selenium.test.RegisterTest"/>
   </classes>
  </test>
    

     <test name="Login Test">
     <classes>
      <class name="com.catalyst.springboot.selenium.test.LoginTest"/> 
    </classes>
  </test>
  
   <test name="Admin Test">
     <classes>
      <class name="com.catalyst.springboot.selenium.test.AdminTest"/> 
    </classes>
  </test>
  
   <!-- Test -->
</suite> <!-- Suite -->
