<!DOCTYPE html>
<html>
<head>
<!-- vendor js -->
	<script type="text/javascript" src="../vendor/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="../vendor/angular/angular.min.js"></script>
	<script type="text/javascript"
		src="../vendor/angular-ui-router/release/angular-ui-router.min.js"></script>

	<!-- site-specific js -->
	<script type="text/javascript" src="../app/jQuery/login.js"></script>
	<script type="text/javascript" src="../app/jQuery/loginAnim.js"></script>
	<script type="text/javascript" src="../app/app.js"></script>
	<!-- regestration scripts -->
	<script type="text/javascript" src="../app/ctrl/registrationCtrl.js"></script>
	<script type="text/javascript" src="../app/service/registrationFactory.js"></script>

<!--  bootstrap  -->
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<!-- site-specific css -->
<link rel="stylesheet" href="../css/login.css">
</head>

<body ng-app="app">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" id="login-form-link">Login</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="register-form-link">Register</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" method="post" role="form"
									style="display: block;">
									<div class="form-group">
										<input type="text" name="username" id="inputUsername"
											tabindex="1" class="form-control" placeholder="Username"
											value="">
									</div>
									<div class="form-group">
										<input type="password" name="password" id="inputPassword"
											tabindex="2" class="form-control" placeholder="Password">
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="login-submit" id="submitLogin"
													tabindex="4" class="form-control btn btn-login"
													value="Log In">
											</div>
										</div>
									</div>
									<div id="errorLog" class="alert alert-danger">
										<a href="#" class="close" data-dismiss="alert" aria-label="close"></a>
									</div>
								</form>
								<form id="register-form" method="post" role="form"
									style="display: none;">
									<div class="form-group input-group">
										<input type="text" name="username" id="username"
											ng-model="register.email" tabindex="1" class="form-control"
											placeholder="Username" value="" aria-describedby="email"><span
											class="input-group-addon">@catalystdevworks.com</span>
									</div>
									<!-- <div class="form-group">
									<input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
								</div> -->
									<div class="form-group">
										<input type="password" name="password"
											ng-model="register.password" id="password" tabindex="2"
											class="form-control" placeholder="Password">
									</div>
									<div class="form-group">
										<input type="password" name="confirm-password"
											ng-model="register.verifypassword" id="verify-password"
											tabindex="2" class="form-control"
											placeholder="Confirm Password">
									</div>
									<div class="form-group">
										<div class="row">
											<div ng-controller="registrationCtrl"
												class="col-sm-6 col-sm-offset-3">
												<button ng-click="registration()" type="button" tabindex="4" class="btn form-control btn-register" id="createbtn">Create</button>
												<div id="errorLog" class={{alert}} ng-show="value">
													<strong>{{type}}</strong>{{message}}
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>
