<!doctype html>
<html>

<head>
	<!-- vendor js -->
	<script type="text/javascript" src="../vendor/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="../vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../vendor/angular/angular.js"></script>
	<script type="text/javascript" src="../vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="../vendor/ui-bootstrap/ui-bootstrap-tpls-1.1.2.min.js"></script>

	<!-- site-specific js -->
	<script type="text/javascript" src="../app/app.js"></script>
	<script type="text/javascript" src="../app/stateLogging.js"></script>

	<script type="text/javascript" src="../app/jQuery/login.js"></script>
	<script type="text/javascript" src="../app/jQuery/loginAnim.js"></script>

	<script type="text/javascript" src="../app/routes/routes.js"></script>

	<!-- regestration scripts -->
	<script type="text/javascript" src="../app/ctrl/registrationCtrl.js"></script>
	<script type="text/javascript" src="../app/service/registrationFactory.js"></script>

	<!-- totp scripts -->
	<script type="text/javascript" src="../app/ctrl/totpAuthCtrl.js"></script>
	<script type="text/javascript" src="../app/service/devHttpService.js"></script>
	<script type="text/javascript" src="../app/service/currentUser.js"></script>
	<script type="text/javascript" src="../app/service/loginService.js"></script>

	<!--  bootstrap  -->
	<link rel="stylesheet" href="../css/bootstrap.css">

	<!-- site-specific css -->
	<link rel="stylesheet" href="../css/login.css">
</head>

<body ng-app="app">
	<ui-view></ui-view>
</body>

</html>
