<div class = panel>

  <!--  create a new report  with a name  -->
  
  <form id="create-report" ng-submit="createReport()" novalidate>
	 <label for="report-name"> Report Name:
     	<input type="text" ng-model="report" placeholder="Report Name" name="report-name"/>
     </label><br>
    
   <!-- users that can be added on to the creation of the report -->
   
     <label for="Submitter">Submitter:
        <select name="user" ng-model="users" ng-options="user as user.email for user in users"></select>
        <button type="button" ng-click="addSubmitter()">Add Submitter</button>
     </label><br>
    
     
  <!-- pull existing projects that can be added to the report -->
  
    <label for="Project">Projects:
        <select name="project" ng-model="project" ng-options="project as project.name for project in projects"></select>
        <button type="button" ng-click="addProject()">Add Project</button>
     </label><br>
     
   <!-- pull all potential approvers to be added to the report -->
   
     <label for="Approver">Approver(s):
        <select name="user" ng-model="users" ng-options="user as user.email for user in users"></select>
        <button type="button" ng-click="addApprover()">Add Approver</button>
     </label><br>
   
   
   
     
  </form>
  
  
</div>