<div class="panel">
    <form id="create-project" ng-submit="createProject()">
        <label for="project-name"> Project Name:
            <input type="text" ng-model="name" placeholder="Project Name:" name="project-name"/></label>
        <label for="tech-lead">Tech Lead:
            <select name="tech-lead" ng-options="user.id as user.name for user in users"></select></label>
        <label for="tech-lead">Tech Lead:
            <select name="tech-lead" ng-options="user.id as user.name for user in users"></select>
            <button type="button" ng-click="addUser()"></button>
        </label>
        <div ng-show="assignedUsers.length">
            <div ng-repeat="user in assignedUsers">
                {{user.name}}
            </div>
        </div>
        <button type="button" type="submit"></button>
    </form>
</div>
