  <div class="input-group">

	<input type="text" class="form-control"
		placeholder="Recipient's username" aria-describedby="email"
		ng-model="register.email"> <span class="input-group-addon"
		id="username">@catalystdevworks.com</span>
		
</div>

<div class="input-group">

	<input type="text" class="form-control" placeholder="Password"
		aria-describedby="password" ng-model="register.password"> <span
		class="input-group-addon" id="password"></span>
		
</div>

<div class="input-group">

	<input type="text" class="form-control" placeholder="Verity password"
		aria-describedby="verifypassword" ng-model="register.verifypassword">
	<span class="input-group-addon" id="verifypassword"></span>
		
</div>

<div class="btn-group" role="group" aria-label="create">

	<button ng-click="registration()" type="button"
		class="btn btn-default" id="createbtn" >Create</button>
		
</div>

<div class="message" > 
 {{message}} 
{{$scope.data.sucess}}
<!--   {{$scope.message}}-->
</div>
